{
    "parser": "@typescript-eslint/parser", 
    "extends":  [
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "operator-linebreak": "off",
      "import/prefer-default-export": "off",
      "implicit-arrow-linebreak": "off",
      "function-paren-newline": "off",
      "object-curly-newline": "off",
      "no-underscore-dangle": "off",
      "no-await-in-loop": "off",
      "import/no-unresolved": "off",
      "import/extensions": "off",
      "import/named": "off"
    },
    "env": {
      "jest": true,
      "node": true
    }
  }